header {

}

nav {

}

main {
display: flex;
background-color: lightgrey;
min-height: 100vh;
}

footer {

}

.card {
  box-shadow: 0 1rem 4rem rgba(0, 0, 0, .25);
  flex-basis: 48%;
  min-height: 6rem;

}

.bottom-card{
  margin: 2rem 0;

  &:not(:last-child){
    margin-right:  2rem;
  }
};



.contact-bar {
  // display: flex;
  // flex-direction: column;
  // flex-basis: 30%;
}

.content-container{
  flex-basis: 70%;
  display: flex;
  flex-wrap: wrap;
}

.card {
  background-color: #fff;
}

.card--about-lonny{
  flex-basis: 100%;
  // display: flex
}

.card--about-lonny p {
  margin: 1.5rem 0;
}

.sign-off {
  text-align: right;
}
